
.nav-menu {
    padding-top: 3px;

    &__item {
        display: inline-block;
        @include sm {
            margin-left: 8px;
        }
    }
    &__link {
        margin-left: 35px;
        font-size: 14px;
        color: #48494a;
        text-transform: uppercase;
        font-family: $font-bold;
        transition: $transition300;
        @include sm {
            font-size: 12px;
        }
        &:hover{
            color: #ffc600;
            transition: $transition300;
        }
    }
}

