// Body
$body-bg: #f1f1f1;
// Colors
$white: #fff;
$purple: #9561e2;
$red: #ff0000;
$orange: #f6993f;
$green: #38c172;
$yellow:#ffc600;
//fonts
$font-medium: "GothamProMedium";
$font-pro: "GothamPro";
$font-bold: "GothamProBold";
//transition
$transition300: 300ms all ease-in-out;


$screen-xs-max: 320px;
$screen-sm-max: 576px;
// Small tablets
$screen-md-max: 768px;
// Tablets and small desktops
$screen-lg-max: 992px;
// Large tablets and desktops
$screen-xl-max: 1200px;




